.earth {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75)
    ),
    url(../img/legos.jpg);
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .callout {
    color: white;
    font-family: serif;
    font-size: 32px;
    margin-right: 75px;
  }
}
